<div class="login">
  <p class="login__text">Войдите для работы</p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group" [ngClass]="{'has-error': form.controls['email'].invalid && form.controls['email'].touched}">
      <label for="email">Email</label>
      <input type="text" class="form-control underlined" id="email" placeholder="Введите ваш email"
             formControlName="email">
      <span class="form-help-text" *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
      <span *ngIf="form.controls['email']['errors']['required']">
        Заполните e-mail.
      </span>
      <span *ngIf="form.controls['email']['errors']['email']">
        {{form.controls['email']['errors']['email']}}
        Введите корректный e-mail.
      </span>
    </span>
    </div>
    <div class="form-group"
         [ngClass]="{'has-error': form.controls['password'].invalid && form.controls['password'].touched}">
      <label for="password">Пароль</label>
      <input type="password" class="form-control underlined" id="password" placeholder="Пароль"
             formControlName="password">
      <span class="form-help-text" *ngIf="form.controls['password'].invalid && form.controls['password'].touched">

      <span *ngIf="form.controls['password']['errors']['required']">
        Заполните пароль.
      </span>
      <span *ngIf="form.controls['password']['errors']['minlength']">
        Пароль должен быть больше {{form.controls['password']['errors']['minlength']['requiredLength']}} символов.
        Сейчас {{form.controls['password']['errors']['minlength']['actualLength']}}.
      </span>
    </span>
    </div>
    <div class="form-group">
      <button type="submit" class="btn" [ngClass]="{'disabled': form.invalid}" [disabled]="form.invalid">Войти</button>
    </div>
    <div class="form-group">
      <p class="login__text">
        Нет аккаунта? <a [routerLink]="'/registration'">Зарегистрироваться!</a>
      </p>
    </div>
  </form>
</div>
